<md-content class="md-padding pad-ver-0">
  <form>
	  <md-input-container>
      <label>Name</label>
      <input ng-model="newParty.name">
    </md-input-container>
	  <md-input-container>
      <label>Description</label>
      <input ng-model="newParty.description">
	  </md-input-container>
	  <md-button class="md-raised" ng-click="parties.push(newParty)">Add</md-button>
  </form>
	<md-button class="md-raised" ng-click="getPicture()">Take Picture</md-button>
</md-content>

<md-list>
  <md-item ng-repeat="party in parties">
	  <md-divider ng-if="$first"></md-divider>
	  <md-item-content class="md-tile-content" layout="row" layout-align="space-between" layout-wrap>
		  <md-button class="md-primary" flex="33" ng-href="/parties/{{party._id}}">{{party.name}}</md-button>
		  <md-button class="md-primary" flex="33">{{party.description}}</md-button>
		  <md-button class="md-fab" aria-label="X" ng-click="remove(party)">
			  <md-icon md-svg-src="ic_delete_24px.svg"></md-icon>
		  </md-button>
			<img flex="100" ng-src="{{ party.imageData }}" />
    </md-item-content>
	  <md-divider></md-divider>
  </md-item>
</md-list>
